asgiref
cachetools
certifi
charset-normalizer
Django~=5.1
django-storages
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gunicorn
idna
Pillow
protobuf~=5.29
pyasn1
pyasn1-modules
requests
rsa
six
sqlparse
urllib3
